body{
  font-family: 'Baloo', cursive;
}
h1{
  font-size:3em;
}
.text_center{ 
  text-align:center;
}
a{
  margin-top:10px;
}
.btn{
  text-decoration:none; 
  background: purple;
  padding:10px 20px;
  color:white;
  display: inline-block;
}

